
@{
    ViewData["Title"] = "LogOut";
}

<h1>Thanks for Shopping with Hats For Male Pattern Baldness</h1>

<body>
    <script>
         setTimeout(function(){
             window.location.href = 'https://hatsformalepatternbaldness.azurewebsites.net/';
         }, 10000);
    </script>
    <p>This page will redirect you to login after 10 seconds.</p>
</body>
<div style="height:100%; width:100%;">

    <img src="https://lh3.googleusercontent.com/go9yNqQt_phxblk7TG-5Q3WVXRjcruj9fekszBV-5RFegopxAwzlUxuMLieznXn_LhDbnQ=s136" style="position:absolute; float:right; right:0px; bottom:0px; z-index:2;">

</div>

